.row {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

// .col {
//   flex: 1;
//   padding: 0.5rem;
// }

// .col-6 {
//   flex: 0 0 50%;
// }

// .col-4 {
//   flex: 0 0 33.33%;
// }

@for $i from 1 through 5 {
  .col-#{$i} {
    width: calc(100% / 5) * $i;
  }
}
